{{ define "main" }}
<ul>
    {{ $Pages := .Pages }}
    {{ range $Pages.ByParam "datetime"}}
    {{ $now := now.Format "2006-01-02" }}
    {{ $start := (dateFormat "2006-01-02" .Params.datetime) }}
    {{ if ge $start $now }}
    <div>
        {{ .Params.datetime | time.Format "1/02"}} {{ .Params.datetime | time.Format ":time_short"}}
        <a href={{.Permalink}}>{{.Title}}</a> / {{ if .Params.support}}{{ .Params.support }}{{ end }} /
        {{ if .Params.price}}{{ .Params.price }}{{ end }} / {{.Params.venue}}
    </div>
    {{ end }}
    {{ end }}
</ul>
<!-- 
<ul>
    {{ range $.Site.Data.events}}
    {{ range sort . "datetime" "asc" }}
    <div>
        {{ .datetime | time.Format ":date_short"}} {{ .datetime | time.Format ":time_short"}}
        <a href="{{.details}}">{{.main}}
            {{ if .support}}{{ .support }}{{ end }}
        </a>
        {{ if .price}} for {{.price}} {{ end }}
        at {{.venue}}
    </div>
    {{ end }}
    {{ end }}
</ul> -->
{{ end }}