{{/*}}

{{ if }}
<div class="even">

{{ else }}

<div class="odd">

{{ end }}

{{*/}}


{{ $d := div .Date.Day 2.0}}

<div>
    {{ .Date | time.Format "1/02"}} {{ .Date | time.Format "3:04 pm"}} /
    <a href={{.Permalink}}>{{.Title}}</a> / {{ if .Params.support}}{{ .Params.support }} / {{ end }}
    {{ if .Params.price}}{{ .Params.price }} / {{ end }} <a href="{{.Site.BaseURL}}/venues/{{urlize .Params.venues}}">{{.Params.venues}}</a>
    {{ if .Content }}
    / {{ .Summary }}
    {{ end }}

</div>